@font-face {
  font-family: 'FoundryMonolineRegular';
  src: url("fonts/FoundryMonolineOT3-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/FoundryMonolineOT3-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FoundryMonolineOT3-Regular.woff") format("woff"), url("fonts/FoundryMonolineOT3-Regular.ttf") format("truetype"), url("fonts/FoundryMonolineOT3-Regular.svg#5871d137d393681898c84147db9d6e49") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'FoundryMonolineRegIta';
  src: url("fonts/FoundryMonolineOT3-RegIta.eot");
  /* IE9 Compat Modes */
  src: url("fonts/FoundryMonolineOT3-RegIta.eot?#iefix") format("embedded-opentype"), url("fonts/FoundryMonolineOT3-RegIta.woff") format("woff"), url("fonts/FoundryMonolineOT3-RegIta.ttf") format("truetype"), url("fonts/FoundryMonolineOT3-RegIta.svg#8443730068f284ecb78fb21ff3111887") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'FoundryMonolineBold';
  src: url("fonts/FoundryMonolineOT3-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/FoundryMonolineOT3-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FoundryMonolineOT3-Bold.woff") format("woff"), url("fonts/FoundryMonolineOT3-Bold.ttf") format("truetype"), url("fonts/FoundryMonolineOT3-Bold.svg#fb47efcd855d096be3ecfc90743b9d1a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'FoundryMonolineBoldIta';
  src: url("fonts/FoundryMonolineOT3-BoldIta.eot");
  /* IE9 Compat Modes */
  src: url("fonts/FoundryMonolineOT3-BoldIta.eot?#iefix") format("embedded-opentype"), url("fonts/FoundryMonolineOT3-BoldIta.woff") format("woff"), url("fonts/FoundryMonolineOT3-BoldIta.ttf") format("truetype"), url("fonts/FoundryMonolineOT3-BoldIta.svg#78d5102fc93c3baedeae468394a61b40") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'KelsonSansLight';
  src: url("fonts/KelsonSansLight.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KelsonSansLight.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansLight.woff") format("woff"), url("fonts/KelsonSansLight.ttf") format("truetype"), url("fonts/KelsonSansLight.svg#d5161cbcb0ff03bb1171a8828346711d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'KelsonSansRegular';
  src: url("fonts/KelsonSansRegular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KelsonSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansRegular.woff") format("woff"), url("fonts/KelsonSansRegular.ttf") format("truetype"), url("fonts/KelsonSansRegular.svg#54c26ac373688da247d8d5bf8046eeae") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'KelsonSansBold';
  src: url("fonts/KelsonSansBold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KelsonSansBold.eot?#iefix") format("embedded-opentype"), url("fonts/KelsonSansBold.woff") format("woff"), url("fonts/KelsonSansBold.ttf") format("truetype"), url("fonts/KelsonSansBold.svg#8cd4eb12e244f6a8feab190ad3e2d1c1") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

html, body, p, ul, p a, ul a, .responsive-nav__nav > ul > li > a {
  font-weight: normal !important;
  font-style: normal !important; }
  html strong, body strong, p strong, ul strong, html em, body em, p em, ul em, p a strong, ul a strong, .responsive-nav__nav > ul > li > a strong, p a em, ul a em, .responsive-nav__nav > ul > li > a em {
    font-weight: normal !important;
    font-style: normal !important; }

html, body, p, ul {
  font-family: "FoundryMonolineRegular", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  html strong, body strong, p strong, ul strong {
    font-family: "FoundryMonolineBold", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  html em, body em, p em, ul em {
    font-family: "FoundryMonolineRegIta", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p a, ul a, .responsive-nav__nav > ul > li > a {
  font-family: "FoundryMonolineBold", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  p a em, ul a em, .responsive-nav__nav > ul > li > a em {
    font-family: "FoundryMonolineBoldIta", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p.intro {
  font-family: "KelsonSansRegular", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1, h2, h3, .header__nav__menu > li > a, .header__nav__menu .sub-menu > li a {
  font-family: "KelsonSansBold", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, body {
  font-size: 16px;
  line-height: 1.5; }

h1 {
  font-size: 3.125rem;
  line-height: 1.25;
  color: #D73C30;
  text-transform: uppercase;
  margin: 0 0 0.8em; }

h2 {
  font-size: 1.75rem;
  line-height: 1.25;
  color: #042F5F;
  margin: 0 0 0.28em; }

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  color: #D73C30;
  text-transform: uppercase;
  margin: 0 0 0.5em; }

p, ul {
  font-size: 1rem;
  color: #77787B;
  line-height: 1.5;
  margin: 0 0 0.6em; }
  p + h2, ul + h2 {
    margin-top: 1.14em; }
  p + h3, ul + h3 {
    margin-top: 1.35em; }
  p a, ul a {
    text-decoration: none;
    color: inherit; }
    p a:hover, ul a:hover {
      color: #0077C0; }

ul {

.content__text-two-columns {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 40px;
  column-gap: 40px; }
  list-style: none;
  padding: 0; }
  ul li {
    position: relative;
    padding: 0 0 0 1.625em;
    margin: 0 0 0.6em; }
    ul li:before {
      content: '\2022';
      position: absolute;
      top: 1px;
      left: 0;
      color: #D73C30; }
    ul li:last-child {
      margin: 0; }

p.intro {
  font-size: 1.75rem;
  line-height: 1.25;
  color: #042F5F;
  margin: 0 0 0.5em; }

div.content__text-two-columns {
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin: 0 0 0.6em; }
  .content__text-two-columns p:last-child, .content__text-two-columns ul:last-child {
    margin: 0; }
